html, body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(122, 122, 122);
  }
  canvas {
    margin:18vh auto;
    /* transform: scale(2); */
    display: block;
  }
  
  button {
    
    width: max-content;
    background-color: black;
    color:white;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
  /*   padding-left: 50%;
    padding-right: 50%; */
  }
  
  #buttonContainer{
    position: relative;
    width: 100vw;
    margin: 0 auto;
    top: 90vh;
    text-align: center;
  }